.test {
    padding: 50px 100px;
}

.block-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-container div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

:is(.block, .block2) {
    background-color: #F5F5F5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 50px;
    aspect-ratio: 1;
}

.mega-title {
    font-size: 50px;
    font-weight: 700;
}

.test-video {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 50vw;
    aspect-ratio: 16 / 9;
    opacity: 0.5;
}